.radio-item {
  margin: 0;
}
.radio-item input {
  margin: 0.3rem;
}
.radio-item label.pink {
  background-color: #f26699;
}
.radio-item label.blue {
  background-color: #04adbf;
}
.radio-item label.yellow {
  background-color: #f5e07e;
}
.radio-item label.green {
  background-color: #a4ec10;
}
.radio-item label.orange {
  background-color: #f28705;
}
.card {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  width: 15rem;
  height: 10rem;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-family: "Amatic SC", sans-serif;
  position: absolute;
}
.card.pink {
  background-color: #f26699;
}
.card.pink a:hover {
  background-color: #f26699;
}
.card.blue {
  background-color: #04adbf;
}
.card.blue a:hover {
  background-color: #04adbf;
}
.card.yellow {
  background-color: #f5e07e;
}
.card.yellow a:hover {
  background-color: #f5e07e;
}
.card.green {
  background-color: #a4ec10;
}
.card.green a:hover {
  background-color: #a4ec10;
}
.card.orange {
  background-color: #f28705;
}
.card.orange a:hover {
  background-color: #f28705;
}
.card.finished p {
  text-decoration: line-through;
}
.card p {
  margin: 0;
  margin-top: 1rem;
}
.card a {
  color: #000;
  text-decoration: none;
  opacity: 0.6;
  background-color: #ffff00;
  align-self: flex-end;
  visibility: hidden;
}
.card a:hover {
  text-decoration: underline;
}
.card img {
  width: 20%;
  height: 30%;
}

.card:hover a {
  visibility: visible;
}

.star,
.hide-star {
  width: 20%;
  height: 30%;
  align-self: flex-end;
}
.star img,
.hide-star img {
  width: 100%;
  height: 100%;
}

.star {
  visibility: visible;
}

.hide-star {
  visibility: hidden;
}
.modal {
  top: 8%;
  width: 50%;
  background-color: white;
  border: 0.2rem solid #000;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  padding: 1%;
  text-align: center;
  font-size: 1.5rem;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.modal .close {
  align-self: flex-end;
  position: absolute;
  border: 0;
  width: 7%;
  height: 10%;
  background-color: #ddd;
  cursor: pointer;
  font-size: 1rem;
}
.modal .close:hover {
  background-color: #aaa;
}
.modal h1 {
  margin-bottom: 1%;
  font-size: 3rem;
}
.modal img {
  width: 25%;
  align-self: center;
}
.modal p {
  font-size: 2rem;
  font-family: "Amatic SC", sans-serif;
  margin-top: 0;
  margin-bottom: 2%;
}
body,
html,
#root {
  height: 100%;
}

h1 {
  font-family: "Vidaloka", serif;
  font-size: 4rem;
  text-align: center;
}

.everything {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.insert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
}
.insert .card-data {
  display: flex;
  flex-direction: column;
  margin: 0 1%;
}
.insert .card-data .radio-group {
  display: flex;
  margin: 0.1rem;
}
.insert .card-data .radio-group .radio-item {
  padding: 0.5rem;
  padding-left: 0;
}
.insert .text {
  margin: 1%;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
}
.insert .btnAdd button {
  margin: 0 0.5rem;
  height: 4rem;
  width: 5rem;
  border-radius: 5px;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}
.board .todo,
.board .done {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1%;
  padding-bottom: 1%;
  margin: 0.3%;
  border: 0.15rem solid black;
  border-radius: 3px;
  height: 50rem;
}
.board .todo h2,
.board .done h2 {
  width: 100%;
  text-align: center;
  font-family: "Vidaloka", serif;
}
.board .todo {
  width: 60%;
}
.board .done {
  width: 33%;
}

/*# sourceMappingURL=/app.a2213586.css.map */